In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [4]:
df_cars = pd.read_csv("Data/cars_2024.csv")

df_cars.head(5)

     date_reg     type  maker    model  colour         fuel        state
0  2024-01-01      jip  Chery  Omoda 5   black       petrol  Rakan Niaga
1  2024-01-01      jip  Chery  Omoda 5   white       petrol  Rakan Niaga
2  2024-01-01      jip  Chery  Omoda 5   white       petrol  Rakan Niaga
3  2024-01-01  pick_up   Ford   Ranger   black       petrol        Johor
4  2024-01-01  pick_up   Ford   Ranger  orange  greendiesel        Johor

In [6]:
df_cars.tail()

          date_reg type  maker model colour           fuel        state
487846  2024-07-31  jip  Volvo  XC40  white       electric  Rakan Niaga
487847  2024-07-31  jip  Volvo  XC40   grey  hybrid_petrol  Rakan Niaga
487848  2024-07-31  jip  Volvo  XC60   grey  hybrid_petrol  Rakan Niaga
487849  2024-07-31  jip  Volvo  XC90  black  hybrid_petrol  Rakan Niaga
487850  2024-07-31  jip  Volvo  XC90  white  hybrid_petrol  Rakan Niaga

In [8]:
df_cars['maker']

0         Chery
1         Chery
2         Chery
3          Ford
4          Ford
          ...
487846    Volvo
487847    Volvo
487848    Volvo
487849    Volvo
487850    Volvo
Name: maker, Length: 487851, dtype: object

In [9]:
display(df_cars[89: 100])

      date_reg     type  maker  model colour           fuel              state
89  2024-01-02  motokar  Honda   City   grey  hybrid_petrol        Rakan Niaga
90  2024-01-02  motokar  Honda   City    red         petrol        Rakan Niaga
91  2024-01-02  motokar  Honda  Civic  black         petrol  W.P. Kuala Lumpur
92  2024-01-02  motokar  Honda  Civic  white         petrol  W.P. Kuala Lumpur
93  2024-01-02  motokar  Honda  Civic   blue         petrol  W.P. Kuala Lumpur
94  2024-01-02  motokar  Honda  Civic  white         petrol        Rakan Niaga
95  2024-01-02  motokar  Honda  Civic  black         petrol        Rakan Niaga
96  2024-01-02  motokar  Honda  Civic    red  hybrid_petrol        Rakan Niaga
97  2024-01-02  motokar  Honda  Civic  black         petrol        Rakan Niaga
98  2024-01-02  motokar  Honda   HR-V    red         petrol       Pulau Pinang
99  2024-01-02  motokar  Honda   HR-V   grey         petrol              Perak

In [10]:
df_cars.columns

Index(['date_reg', 'type', 'maker', 'model', 'colour', 'fuel', 'state'], dtype='object')

In [11]:
list(df_cars.columns)

['date_reg', 'type', 'maker', 'model', 'colour', 'fuel', 'state']

In [12]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487851 entries, 0 to 487850
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date_reg  487851 non-null  object
 1   type      487851 non-null  object
 2   maker     487851 non-null  object
 3   model     487851 non-null  object
 4   colour    487851 non-null  object
 5   fuel      487851 non-null  object
 6   state     487851 non-null  object
dtypes: object(7)
memory usage: 26.1+ MB

In [13]:
df_cars.describe()

          date_reg     type    maker   model  colour    fuel        state
count       487851   487851   487851  487851  487851  487851       487851
unique         212        5       80     449      15       7           16
top     2024-02-29  motokar  Perodua   Bezza    grey  petrol  Rakan Niaga
freq         12950   303822   201942   55080  125690  429530       417594

In [15]:
df_cars.shape

(487851, 7)

In [16]:
len(df_cars)

487851

In [20]:
df_cars_Perodua = df_cars.loc[df_cars['maker']=='Perodua']
df_cars_Perodua.head()

,date_reg,type,maker,model,colour,fuel,state
34,2024-01-01,jip,Perodua,Ativa,white,petrol,Rakan Niaga
35,2024-01-01,motokar,Perodua,Myvi,silver,petrol,Rakan Niaga
215,2024-01-02,motokar_pelbagai_utiliti,Perodua,Alza,black,petrol,Rakan Niaga
216,2024-01-02,motokar_pelbagai_utiliti,Perodua,Alza,black,petrol,W.P. Labuan
217,2024-01-02,motokar_pelbagai_utiliti,Perodua,Alza,black,petrol,Rakan Niaga