In [2]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 500)

In [6]:
df_bigmartsales = pd.read_csv("../Latihan/train_v9rqX0R.csv")

df_bigmartsales.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
df_bigmartsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [10]:
df_bigmartsales.columns = [x.lower() for x in df_bigmartsales.columns]
print(df_bigmartsales.columns)

Index(['item_identifier', 'item_weight', 'item_fat_content', 'item_visibility',
       'item_type', 'item_mrp', 'outlet_identifier',
       'outlet_establishment_year', 'outlet_size', 'outlet_location_type',
       'outlet_type', 'item_outlet_sales'],
      dtype='object')

In [12]:
df_bigmartsales.sample()

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
7722,FDS34,19.35,reg,0.076745,Snack Foods,113.4518,OUT035,2004,Small,Tier 2,Supermarket Type1,1593.9252

In [13]:
df_bigmartsales.groupby('outlet_location_type')

In [19]:
df_bigmartsales.groupby('outlet_location_type').count()

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_type,item_outlet_sales
outlet_location_type,,,,,,,,,,,
Tier 1,2388,1860,2388,2388,2388,2388,2388,2388,2388,2388,2388
Tier 2,2785,2785,2785,2785,2785,2785,2785,2785,930,2785,2785
Tier 3,3350,2415,3350,3350,3350,3350,3350,3350,2795,3350,3350

In [17]:
len(df_bigmartsales)

8523

In [20]:
df_bigmartsales.groupby('outlet_location_type')['item_outlet_sales']

In [21]:
df_bigmartsales.groupby('outlet_location_type')['item_outlet_sales'].sum()

outlet_location_type
Tier 1    4.482059e+06
Tier 2    6.472314e+06
Tier 3    7.636753e+06
Name: item_outlet_sales, dtype: float64

In [26]:
df_bigmartsales['item_outlet_sales'] = df_bigmartsales['item_outlet_sales'].astype('int')
df_bigmartsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_identifier            8523 non-null   object
 1   item_weight                7060 non-null   float64
 2   item_fat_content           8523 non-null   object
 3   item_visibility            8523 non-null   float64
 4   item_type                  8523 non-null   object
 5   item_mrp                   8523 non-null   float64
 6   outlet_identifier          8523 non-null   object
 7   outlet_establishment_year  8523 non-null   int64
 8   outlet_size                6113 non-null   object
 9   outlet_location_type       8523 non-null   object
 10  outlet_type                8523 non-null   object
 11  item_outlet_sales          8523 non-null   int64
dtypes: float64(3), int64(2), object(7)
memory usage: 799.2+ KB

In [35]:
df_bigmartsales.groupby('item_outlet_sales').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [28]:
df_bigmartsales.groupby('item_outlet_sales').mean(numeric_only=True)

,item_weight,item_visibility,item_mrp,outlet_establishment_year
item_outlet_sales,,,,
33,9.3025,0.066246,33.778600,1993.666667
34,NaN,0.073077,34.321600,1985.000000
35,7.1550,0.281510,33.887400,1998.000000
36,15.3500,0.024006,34.919000,1991.500000
37,12.1500,0.111606,38.039633,1987.166667
...,...,...,...,...
10306,NaN,0.030693,228.035200,1985.000000
10993,NaN,0.088840,254.267200,1985.000000
11445,NaN,0.000000,253.035600,1985.000000
12117,NaN,0.014296,242.651200,1985.000000
13086,NaN,0.010551,234.995800,1985.000000

In [29]:
data = {
    'Gender': ['m', 'f', 'f', 'm', 'f', 'm', 'm'],
    'Height': [172, 171, 169, 173, 170, 175, 178]
}
df_sample = pd.DataFrame(data)
df_sample

  Gender  Height
0      m     172
1      f     171
2      f     169
3      m     173
4      f     170
5      m     175
6      m     178

In [30]:
df_sample.groupby('Gender').mean()

        Height
Gender
f        170.0
m        174.5

In [36]:
df_bigmartsales['item_type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [37]:
item_type_counts = df_bigmartsales['item_type'].value_counts()
print(item_type_counts)

item_type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: count, dtype: int64

In [38]:
import matplotlib.pyplot as plt

item_type_counts\
    .sort_values\
    .plot\
    .barh

AttributeError: 'function' object has no attribute 'plot'