In [1]:
import pandas as pd

In [2]:
# The data source is from Malaysia DOSM (https://data.gov.my/data-catalogue/births)
URL_DATA = 'https://storage.data.gov.my/demography/births.parquet'

# Extract data from source
df = pd.read_parquet(URL_DATA)

df1 = df
print(df.head())
print('borderline')
print(df1.head())

         date     state  births
0  1920-01-01  Malaysia      96
1  1920-01-02  Malaysia     115
2  1920-01-03  Malaysia     111
3  1920-01-04  Malaysia     101
4  1920-01-05  Malaysia      95
borderline
         date     state  births
0  1920-01-01  Malaysia      96
1  1920-01-02  Malaysia     115
2  1920-01-03  Malaysia     111
3  1920-01-04  Malaysia     101
4  1920-01-05  Malaysia      95

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37833 entries, 0 to 37832
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    37833 non-null  object
 1   state   37833 non-null  object
 2   births  37833 non-null  int64
dtypes: int64(1), object(2)
memory usage: 886.8+ KB

In [4]:
# Task 1: Based on the lesson learned previously, convert the "DATE" column data type into datetime format
#df_crime['Updated On'] = pd.to_datetime(df_crime['Updated On'])

df['date'] = pd.to_datetime(df['date'])
print(df.head())
print('\n')
print(df.dtypes)

'''print('\n')
df1['date'] = df1['date'].astype('datetime64[ns]')
print(df1.dtypes)'''

        date     state  births
0 1920-01-01  Malaysia      96
1 1920-01-02  Malaysia     115
2 1920-01-03  Malaysia     111
3 1920-01-04  Malaysia     101
4 1920-01-05  Malaysia      95


date      datetime64[ns]
state             object
births             int64
dtype: object

"print('\n')\ndf1['date'] = df1['date'].astype('datetime64[ns]')\nprint(df1.dtypes)"

In [5]:
# Task 2a: Extract the Month name (e.g. January/February/March etc) into another column called "MONTH_NAME"
# Then get average of births aggregate/group by MONTH_NAME
# The expected dataframe is something like this:

# |----------------|-----------|
# |MONTH_NAME      | AVG_BIRTH |
# |----------------|-----------|
# |JANUARY XXX     |           |
# |FEBRUARY XXX    |           |
# |MARCH XXX       |           |
#   .....           

...
df['MONTH NAME'] = df['date'].dt.month_name() #create new column and using date as the month's name
average_birth_by_month = df.groupby(['MONTH NAME']).mean(['birth']).rename(columns = {'births' : 'AVG_BIRTH'} ).reset_index()
print(average_birth_by_month)

   MONTH NAME   AVG_BIRTH
0       April  945.387500
1      August  951.493893
2    December  951.100846
3    February  904.976515
4     January  928.116935
5        July  946.085608
6        June  960.348718
7       March  926.428970
8         May  959.320099
9    November  963.218123
10    October  985.878171
11  September  981.742071

In [6]:
# Task 2b: Save the aggregated dataframe in task 2a above into CSV file without index (index=False) in the same folder as this file
# The filename shall be your nickname + _avg_birth_by_month.csv
# Example: azhar_avg_birth_by_month.csv
# No space is allowed. But make sure your nickname is recognizable for evaluation.

...
average_birth_by_month.to_csv('rohimi_average_birth_by_month.csv',index=False)

In [7]:
# Task 3a: Create a dataframe to calculate average birth by the following generation group:
# --> Silent Generation - from 1928 to 1945 included
# --> Baby Boomers - from 1946 to 1964 included
# --> Gen X - from 1965 to 1980 included
# --> Gen Y - from 1981 to 1996 included
# The expected dataframe is something like this:

# |----------------|-----------|
# |GENERATION      | AVG_BIRTH |
# |----------------|-----------|
# |Gen X           |           |
# |Gen Y           |           |
# ......

# Hint: Use for-loop and if/else

In [9]:
df['year'] = df['date'].dt.year
for i, x in enumerate(df.year):
    # Enumerate = generate a row number when we run a for loop.
    # Here it is represented by iâ‰ 
    if x <= 1945:
        df.loc[i, 'generation'] = 'Silent Gen'
    elif x <= 1964:
        df.loc[i, 'generation'] = 'Boomers'
    elif x <= 1980:
        df.loc[i, 'generation'] = 'Gen X'
    elif x <= 1996:
        df.loc[i, 'generation'] = 'Gen Y'
    else:
        df.loc[i, 'generation'] = 'OTHERS'

In [13]:
df2 = df.groupby('generation')['births'].mean().reset_index()
df2.head()

   generation       births
0     Boomers   764.404899
1       Gen X  1057.826318
2       Gen Y  1417.433778
3      OTHERS  1407.644005
4  Silent Gen   265.749710

In [14]:
# Task 3b: Save the aggregated dataframe in task 3a above into CSV file without index (index=False) in the same folder as this file
# The filename shall be your nickname + _avg_birth_by_generation.csv
# Example: azhar_avg_birth_by_generation.csv
# No space is allowed. But make sure your nickname is recognizable for evaluation.

df2.to_csv('rohimi_avg_birth_by_generation',index=False)